body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #4495d1; */
    margin: 0;
}

canvas {
    /* border: 1px solid black; */
}

.settings {
    display: flex;
    padding-bottom: 0.75rem;
}
.settings > * {
    margin: 0 1rem;
}